<!doctype html>
<html lang="fr">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" sizes="96x96" href="/img/favicon.png">
	<title>Tiny Garden</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>

     <!-- Bootstrap core CSS     -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>

    <!--  Paper Dashboard core CSS    -->
    <link href="/css/paper-dashboard-v=1.2.1.css" rel="stylesheet"/>

	<!--  Projet CSS  -->
	<link href="/css/TinyGarden.css" rel="stylesheet"/>
	<link href="/module/jquery-wheelcolorpicker/css/wheelcolorpicker.css" rel="stylesheet"/>

    <!--  Fonts and icons  -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="/css/themify-icons.css" rel="stylesheet">
</head>
<body class="sidebar-mini">
	<div class="wrapper">
	    <div class="sidebar" data-background-color="brown" data-active-color="success">
	    <!--
			Tip 1: you can change the color of the sidebar's background using: data-background-color="white | brown"
			Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
		-->
			<div class="logo">
				<a class="simple-text logo-mini">
					<img src="/img/favicon.png" style="width: 40px; margin-top: -5px; margin-left: -5px"/>
				</a>
				<a class="simple-text logo-normal">
					Tiny Garden
				</a>
			</div>
	    	<div class="sidebar-wrapper">
				<div class="user">
	                <div class="photo">
	                    <img src="/img/user.jpg" />
	                </div>
	                <div class="info">
	                    <a data-toggle="collapse" href="" class="collapsed">
	                        <span>
								Quentin Camboulives
							</span>
	                    </a>
	                </div>
	            </div>
	            <ul class="nav">
                    <li class="<%= page == "garden" ? 'active' : '' %>">
	                    <a href="/Garden">
	                        <i class="ti-image"></i>
	                        <p>Jardin</p>
	                    </a>
					</li>
					<li class="<%= page == "plants" ? 'active' : '' %>">
						<a href="/Plants">
							<i class="ti-bookmark-alt"></i>
							<p>Plantes</p>
						</a>
					</li>
					<li class="<%= page == "lights" ? 'active' : '' %>">
						<a href="/Lights">
							<i class="ti-light-bulb"></i>
							<p>Éclairage</p>
						</a>
					</li>
					<li class="<%= page == "tips" ? 'active' : '' %>">
						<a href="/Tips">
							<i class="ti-info-alt"></i>
							<p>Conseils</p>
						</a>
					</li>
					<li class="<%= page == "params" ? 'active' : '' %>">
						<a href="/Params">
	                        <i class="ti-settings"></i>
	                        <p>Paramètres</p>
	                    </a>
	                </li>
	            </ul>
	    	</div>
	    </div>

	    <div class="main-panel">
	        <div class="content">
	            <div class="container-fluid">

                    <%- body %>

	            </div>
	        </div>
	    </div>
	</div>
</body>
	<!--   Core JS Files. Extra: TouchPunch for touch library inside jquery-ui.min.js   -->
	<script src="/js/jquery-3.1.1.min.js" type="text/javascript"></script>
	<script src="/js/jquery-ui.min.js" type="text/javascript"></script>
	<script src="/js/perfect-scrollbar.min.js" type="text/javascript"></script>
	<script src="/js/bootstrap.min.js" type="text/javascript"></script>

	<!--  Forms Validations Plugin -->
	<script src="/js/jquery.validate.min.js"></script>

	<!-- Promise Library for SweetAlert2 working on IE -->
	<script src="/js/es6-promise-auto.min.js"></script>

	<!--  Plugin for Date Time Picker and Full Calendar Plugin-->
	<script src="/js/moment.min.js"></script>

	<!--  Date Time Picker Plugin is included in this js file -->
	<script src="/js/bootstrap-datetimepicker.js"></script>

	<!--  Select Picker Plugin -->
	<script src="/js/bootstrap-selectpicker.js"></script>

	<!--  Switch and Tags Input Plugins -->
	<script src="/js/bootstrap-switch-tags.js"></script>

	<!-- Circle Percentage-chart -->
	<script src="/js/jquery.easypiechart.min.js"></script>

	<!--  Charts Plugin -->
	<script src="/js/chartist.min.js"></script>

	<!--  Notifications Plugin    -->
	<script src="/js/bootstrap-notify.js"></script>

	<!-- Sweet Alert 2 plugin -->
	<script src="/js/sweetalert2.js"></script>

	<!-- Wizard Plugin    -->
	<script src="/js/jquery.bootstrap.wizard.min.js"></script>

	<!--  Bootstrap Table Plugin    -->
	<script src="/js/bootstrap-table.js"></script>

	<!--  Plugin for DataTables.net  -->
	<script src="/js/jquery.datatables.js"></script>

	<!-- Paper Dashboard PRO Core javascript and methods for Demo purpose -->
	<script src="/js/paper-dashboard-v=1.2.1.js"></script>

	<!-- Projet -->
	<script type="text/javascript" src="/module/jquery-wheelcolorpicker/jquery.wheelcolorpicker.js"></script>
	<script src="/js/tiny-garden.js"></script>
</html>