<div class="col-md-4">
    <div class="card" style="height: 750px;">
        <div class="card-header">
            <a href="/Garden"><h1 class="card-title"><i class="ti-arrow-circle-left"></i></h1></a>
        </div>
        <div class="content">
            <img src="/img/plantStage/1.png" class="plantInfos">
        </div>
    </div>
</div>
<div class="col-md-8">
    <div class="card" style="height: 750px;">
        <div class="card-header">
            <h4 class="card-title">Infos sur vos plantes</h4>
            <p class="category">Trouver un truc à écrire ici</p>
        </div>
        <div class="content">
            <div class="col-md-6">
                <h3>Menthe</h3>
                <p>
                    lightingDuration: Number,
                    description: String,
                    startedAt:
                </p>
                <div class="col-md-5">
                    <select name="lightStart" class="selectpicker" data-style="btn btn-info btn-block" title="Plante">
                        <% plants.forEach((plant) => { %>
                            <option value="<%= plant.name %>"><%= plant.name %></option>
                        <% }) %>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>